button.btn.border-theme.filter data-toggle="modal" data-target="#filter" Filters

div.modal.fade id="filter"
  div.modal-dialog role="document"
    div.modal-content
      div.modal-header
          h5.modal-title Filters
          button.close type="button" data-dismiss="modal" aria-label="Close"
            span aria-hidden="true" &times;

      div.modal-body
        form.margin-bottom
          .form-group.margin-bottom
            label Posição:
            input.form-control.rounded id="position"

        form.margin-bottom
          .form-group.margin-bottom
            label Empresa:
            input.form-control.rounded id="company"

        form.margin-bottom
          .form-group.margin-bottom
            label Localização:
            input.form-control.rounded id="city"

        form.margin-bottom
          .form-group.margin-bottom
            label Tags:
            input.form-control.rounded id="tags" placeholder="Separadas por vírgula"

        form
          .form-group.small-right-padding
            label From Date:
            input.form-control.rounded id="dateFrom" value="2018-01-01" autocomplete="off"

          .form-group.small-right-padding
            label To Date:
            input.form-control.rounded id="dateTo" value="#{Time.now.strftime('%Y-%m-%d')}" autocomplete="off"

      div.modal-footer
        button.btn.border-grey.btn-reset Reset
        button.btn.border-theme.btn-filter Filter