<main class="flex w-full justify-center px-4">
  <div class="max-w-[2000px] flex flex-col">
    <!-- Header -->
    <.header page_name="Cookie Policy" />
    <!-- Main title -->
    <.main_title page_title="Cookie Policy" />
    <!-- Black container -->
    <.black_bar black_bar_text="Lorem ipsum sit dor amet" />
    <!-- Content Section -->
    <section class="w-full px-4 pt-16 sm:px-8 md:px-36 2xl:px-96">
      <h2 class="mb-8 text-2xl font-semibold sm:text-4xl">How We Use Cookies</h2>
      <p class="text-md sm:text-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nesciunt fuga sint inventore laudantium, et quas cum at ad blanditiis magnam suscipit assumenda enim nemo quod qui animi provident eum!</p>
      <br />
      <ul class="mx-6 mb-8 list-disc">
        <li class="text-md mb-4 text-zinc-900 sm:text-lg">Jonas ipsum dolor sit amet, consectetur Jonas elit.</li>
        <li class="text-md mb-4 text-zinc-900 sm:text-lg">Vivamus Jonas tincidunt, Jonas feugiat sapien Jonas, accumsan Jonas ligula erat Jonas.</li>
        <li class="text-md mb-4 text-zinc-900 sm:text-lg">Fusce Jonas fermentum Jonas ornare.</li>
        <li class="text-md mb-4 text-zinc-900 sm:text-lg">Curabitur Jonas vel urna Jonas pharetra Jonas semper.</li>
        <li class="text-md mb-4 text-zinc-900 sm:text-lg">Quisque Jonas purus nisl, aliquet Jonas varius a Jonas dictum a Jonas tempus.</li>
        <li class="text-md mb-4 text-zinc-900 sm:text-lg">Pellentesque habitant morbi Jonas tristique senectus Jonas netus Jonas malesuada fames ac turpis Jonas.</li>
        <li class="text-md mb-4 text-zinc-900 sm:text-lg">Proin Jonas scelerisque nunc Jonas sodales.</li>
        <li class="text-md mb-4 text-zinc-900 sm:text-lg">Sed Jonas dapibus risus vel Jonas porta, non Jonas interdum nisl.</li>
      </ul>
      <p class="text-md sm:text-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nesciunt fuga sint inventore laudantium, et quas cum at ad blanditiis magnam suscipit assumenda enim nemo quod qui animi provident eum!</p>

      <div class="my-8 border"></div>

      <h2 class="mb-8 text-2xl font-semibold sm:text-4xl">What are cookies, pixels, and local storage?</h2>
      <p class="text-md sm:text-lg">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nesciunt fuga sint inventore laudantium, et quas cum at ad blanditiis magnam suscipit assumenda enim nemo quod qui animi provident eum! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa accusamus facilis, animi saepe autem et vel, amet explicabo, cupiditate pariatur doloribus odit voluptates ad nisi at expedita corporis qui sunt.
      </p>
      <br />
      <p class="text-md sm:text-lg">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nesciunt fuga sint inventore laudantium, et quas cum at ad blanditiis magnam suscipit assumenda enim nemo quod qui animi provident eum! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa accusamus facilis, animi saepe autem et vel, amet explicabo, cupiditate pariatur doloribus odit voluptates ad nisi at expedita corporis qui sunt.
      </p>
      <br />
      <p class="text-md sm:text-lg">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nesciunt fuga sint inventore laudantium, et quas cum at ad blanditiis magnam suscipit assumenda enim nemo quod qui animi provident eum! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa accusamus facilis, animi saepe autem et vel, amet explicabo, cupiditate pariatur doloribus odit voluptates ad nisi at expedita corporis qui sunt.
      </p>

      <div class="my-8 border"></div>

      <h2 class="mb-8 text-2xl font-semibold sm:text-4xl">Why do our services use these technologies?</h2>
      <p class="text-md sm:text-lg">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nesciunt fuga sint inventore laudantium, et quas cum at ad blanditiis magnam suscipit assumenda enim nemo quod qui animi provident eum! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa accusamus facilis, animi saepe autem et vel, amet explicabo, cupiditate pariatur doloribus odit voluptates ad nisi at expedita corporis qui sunt.
      </p>

      <div class="my-8 border"></div>

      <ul class="mx-6 mb-8 list-disc">
        <li class="text-md mb-4 text-zinc-900 sm:text-lg">Jonas ipsum dolor sit amet, consectetur Jonas elit.</li>
        <li class="text-md mb-4 text-zinc-900 sm:text-lg">Vivamus Jonas tincidunt, Jonas feugiat sapien Jonas, accumsan Jonas ligula erat Jonas.</li>
        <li class="text-md mb-4 text-zinc-900 sm:text-lg">Fusce Jonas fermentum Jonas ornare.</li>
        <li class="text-md mb-4 text-zinc-900 sm:text-lg">Curabitur Jonas vel urna Jonas pharetra Jonas semper.</li>
        <li class="text-md mb-4 text-zinc-900 sm:text-lg">Quisque Jonas purus nisl, aliquet Jonas varius a Jonas dictum a Jonas tempus.</li>
        <li class="text-md mb-4 text-zinc-900 sm:text-lg">Pellentesque habitant morbi Jonas tristique senectus Jonas netus Jonas malesuada fames ac turpis Jonas.</li>
        <li class="text-md mb-4 text-zinc-900 sm:text-lg">Proin Jonas scelerisque nunc Jonas sodales.</li>
        <li class="text-md mb-4 text-zinc-900 sm:text-lg">Sed Jonas dapibus risus vel Jonas porta, non Jonas interdum nisl.</li>
      </ul>

      <div class="my-8 border"></div>

      <h2 class="mb-8 text-2xl font-semibold sm:text-4xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
      <p class="text-md sm:text-lg">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nesciunt fuga sint inventore laudantium, et quas cum at ad blanditiis magnam suscipit assumenda enim nemo quod qui animi provident eum! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa accusamus facilis, animi saepe autem et vel, amet explicabo, cupiditate pariatur doloribus odit voluptates ad nisi at expedita corporis qui sunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quisquam? Ex harum aliquam dolores est asperiores mollitia, similique magni illum ea repellendus doloribus consequuntur sit distinctio sed dignissimos fuga placeat!
      </p>

      <div class="my-8 border"></div>

      <h2 class="mb-8 text-2xl font-semibold sm:text-4xl">Jonas Johanes Johnson</h2>
      <p class="text-md sm:text-lg">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nesciunt fuga sint inventore laudantium, et quas cum at ad blanditiis magnam suscipit assumenda enim nemo quod qui animi provident eum! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa accusamus facilis, animi saepe autem et vel, amet explicabo, cupiditate pariatur doloribus odit voluptates ad nisi at expedita corporis qui sunt.
      </p>

      <div class="my-8 border"></div>
    </section>
  </div>
</main>
