<div class="bg-hero-pattern flex h-screen w-screen flex-col items-center justify-center bg-opacity-25 bg-cover bg-center bg-no-repeat lg:bg-[length:2000px_1400px]">
  <.form :let={f} for={%{}} as={:user} action={~p"/users/reset_password"} class="mx-8 mt-8 flex h-full w-full flex-col items-center justify-center space-y-6 sm:mx-0">
    <div class="flex flex-col">
      <div class="flex h-16 shrink-0 select-none items-center gap-x-4 pt-4">
        <img src={~p"/images/atomic.svg"} class="h-14 w-auto" />
        <p class="text-2xl font-semibold text-zinc-400">Atomic</p>
      </div>
      <h2 class="text-2xl/9 mt-8 font-semibold tracking-tight text-gray-900">{gettext("Recover account")}</h2>
    </div>
    <%= if @error_message do %>
      <div class="mx-4 mt-4 w-full px-4 sm:w-96 sm:px-0">
        <div class="alert alert-danger border-primary-400 flex w-full flex-row border-l-4 bg-red-100 px-4 py-4 text-sm text-red-700">
          <.icon name="hero-exclamation-circle-solid" class="mr-2 h-5 w-5 text-red-400" />
          <div>
            <p>{@error_message}</p>
          </div>
        </div>
      </div>
    <% end %>

    <div class="w-full sm:w-96">
      <p class="px-4 text-center text-zinc-900">{gettext("Enter your email or username and we'll send you an email with a link to get back into your account.")}</p>
    </div>

    <div class="w-full flex-col space-y-3 rounded-md">
      <div class="flex justify-center">
        {label(f, :input, class: "sr-only")}
        {text_input(f, :input,
          required: true,
          placeholder: gettext("Email address or username"),
          class: "relative mx-4 w-full appearance-none rounded border border-zinc-300 px-3 py-2 text-zinc-900 placeholder-zinc-500 focus:border-primary-400 focus:ring-primary-400 focus:z-10 focus:outline-none sm:w-96 sm:text-sm"
        )}
      </div>
    </div>

    <div class="w-full flex-col">
      <div class="mx-4 flex select-none justify-center">
        <%= submit class: "border-primary-500 bg-primary-500 flex w-full justify-center rounded-md border-2 px-3.5 py-2 text-sm text-lg font-medium text-white shadow-sm sm:w-96" do %>
          {gettext("Reset password")}
        <% end %>
      </div>
    </div>

    <div class="flex flex-col space-y-2">
      <div class="text-sm">
        {link(gettext("Remember your password?"), to: ~p"/users/log_in", class: "text-primary-400 font-medium hover:text-primary-500 focus:outline-none")}
      </div>
    </div>
  </.form>
</div>
