<.live_component module={AtomicWeb.AssociationLive.FormComponent} current_user={@current_user} id={@association.id} title={@page_title} action={@live_action} association={@association} return_to={Routes.association_index_path(@socket, :index, @organization)} />
