<main class="px-4 w-full flex justify-center">
  <div class="flex flex-col max-w-[2000px]">
    <!-- Header -->
    <.header page_name="Privacy Policy" />
    <!-- Main title -->
    <.main_title page_title="Privacy Policy" />
    <!-- Black container -->
    <.black_bar black_bar_text="Lorem ipsum sit dor amet" />
    <!-- Summary Section -->
    <section class="px-4 sm:px-8 md:px-36 2xl:px-96 pt-16">
      <h2 class="text-2xl sm:text-4xl font-semibold mb-8">Before you scroll, jonas this</h2>
      <p class="text-md sm:text-lg">
        Jonas ipsum dolor sit amet consectetur, adipisicing elit. Hic nesciunt fuga sint inventore laudantium, et quas cum at ad blanditiis magnam suscipit assumenda enim nemo quod qui animi provident eum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia maxime tempore sapiente reiciendis omnis reprehenderit maiores fuga assumenda porro sequi cupiditate quibusdam, voluptatem blanditiis, quos inventore cumque distinctio atque ad!
      </p>
      <!-- Used br tag but it can be replaced for a margin or padding on each element. Just seems more practical. -->
      <br />
      <p class="text-md sm:text-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nesciunt fuga sint inventore laudantium, et quas cum at ad blanditiis magnam suscipit assumenda enim nemo quod qui animi provident eum!</p>
    </section>
    <!-- Grid Section -->
    <section class="px-4 sm:px-8 md:px-36 2xl:px-96 pt-12">
      <!-- Grid Container -->
      <div class="grid place-items-center grid-cols-1 sm:place-items-initial sm:grid-cols-2 sm:grid-rows-3 lg:grid-cols-3 lg:grid-rows-2">
        <!-- Grid Item 1 -->
        <div class="w-full flex flex-col justify-center h-44 sm:h-56">
          <h3 class="text-2xl font-semibold pb-8">Jonas Johaness</h3>
          <a href="#section1" class="underline hover:text-zinc-600 cursor-pointer">Jonas ipsum dolor sit amet consectetur</a>
        </div>
        <!-- Grid Item 2 -->
        <div class="w-full flex flex-col justify-center h-44 sm:h-56">
          <h3 class="text-2xl font-semibold pb-8">Jonas Johaness</h3>
          <a href="#section2" class="underline hover:text-zinc-600 cursor-pointer">Jonas ipsum dolor sit amet consectetur</a>
        </div>
        <!-- Grid Item 3 -->
        <div class="w-full flex flex-col justify-center h-44 sm:h-56">
          <h3 class="text-2xl font-semibold pb-8">Jonas Johaness</h3>
          <a href="#section3" class="underline hover:text-zinc-600 cursor-pointer">Jonas ipsum dolor sit amet consectetur</a>
        </div>
        <!-- Grid Item 4 -->
        <div class="w-full flex flex-col justify-center h-44 sm:h-56">
          <h3 class="text-2xl font-semibold pb-8">Jonas Johaness</h3>
          <a href="#section4" class="underline hover:text-zinc-600 cursor-pointer">Jonas ipsum dolor sit amet consectetur</a>
        </div>
        <!-- Grid Item 5 -->
        <div class="w-full flex flex-col justify-center h-44 sm:h-56">
          <h3 class="text-2xl font-semibold pb-8">Jonas Johaness</h3>
          <a href="#section5" class="underline hover:text-zinc-600 cursor-pointer">Jonas ipsum dolor sit amet consectetur</a>
        </div>
        <!-- Grid Item 6 -->
        <div class="w-full flex flex-col justify-center h-44 sm:h-56">
          <h3 class="text-2xl font-semibold pb-8">Jonas Johaness</h3>
          <a href="#section6" class="underline hover:text-zinc-600 cursor-pointer">Jonas ipsum dolor sit amet consectetur</a>
        </div>
      </div>
      <div class="border my-8"></div>
    </section>
    <!-- Terms of Service Content Section -->
    <section class="flex flex-col px-4 sm:px-8 md:px-36 2xl:px-96 pt-16">
      <div class="flex">
        <!-- Sticky part -->
        <div class="hidden xl:block xl:w-1/4 pr-20">
          <ul class="sticky top-40">
            <li><a href="#section1" class="text-sm font-semibold pb-2">1. Information We Collect </a></li>
            <li><a href="#section2" class="text-sm font-semibold pb-2">2. How We Use Information</a></li>
            <li><a href="#section3" class="text-sm font-semibold pb-2">3. Sharing Information</a></li>
            <li><a href="#section4" class="text-sm font-semibold pb-2">4. How Long We Keep Information</a></li>
            <li><a href="#section5" class="text-sm font-semibold pb-2">5. Take Control</a></li>
            <li><a href="#section6" class="text-sm font-semibold pb-2">6. Your Rights and Ours</a></li>
            <li><a href="#section7" class="text-sm font-semibold pb-2">7. Atomic's Audience</a></li>
            <li><a href="#section8" class="text-sm font-semibold pb-2">8. Changes To This Privacy Policy</a></li>
            <li><a href="#section9" class="text-sm font-semibold pb-2">9. General</a></li>
            <li><a href="#section10" class="text-sm font-semibold pb-2">10. How To Contact Atomic</a></li>
          </ul>
        </div>
        <!-- Content -->
        <div class="xl:w-3/4">
          <h3 class="font-semibold text-4xl sm:text-5xl mb-8 scroll-mt-24" id="section1">1. Information We Collect</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis beatae corrupti ullam laudantium suscipit obcaecati. Magnam, minima quasi! Cumque, officiis amet? Eius, illum molestias? Error, at. Quos, delectus eligendi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni molestias tempore eos ea ducimus cupiditate iusto iste, porro illum dolore quae corporis beatae temporibus est consequatur. Ullam distinctio illo laboriosam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores enim voluptatem ut vel. Modi incidunt consectetur similique veniam quaerat accusantium laudantium excepturi a, nulla, officiis eum quas rerum explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugit earum fugiat, aliquid reiciendis aspernatur rem sunt corrupti accusantium sed quisquam laborum omnis possimus, eos ratione soluta, nemo iure officiis.
          </p>
          <h3 class="font-semibold text-4xl sm:text-5xl mb-8 pt-12 scroll-mt-24" id="section2">2. How We Use Information</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis beatae corrupti ullam laudantium suscipit obcaecati. Magnam, minima quasi! Cumque, officiis amet? Eius, illum molestias? Error, at. Quos, delectus eligendi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni molestias tempore eos ea ducimus cupiditate iusto iste, porro illum dolore quae corporis beatae temporibus est consequatur. Ullam distinctio illo laboriosam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores enim voluptatem ut vel. Modi incidunt consectetur similique veniam quaerat accusantium laudantium excepturi a, nulla, officiis eum quas rerum explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugit earum fugiat, aliquid reiciendis aspernatur rem sunt corrupti accusantium sed quisquam laborum omnis possimus, eos ratione soluta, nemo iure officiis.
          </p>
          <h3 class="font-semibold text-4xl sm:text-5xl mb-8 pt-12 scroll-mt-24" id="section3">3. Sharing Information</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis beatae corrupti ullam laudantium suscipit obcaecati. Magnam, minima quasi! Cumque, officiis amet? Eius, illum molestias? Error, at. Quos, delectus eligendi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni molestias tempore eos ea ducimus cupiditate iusto iste, porro illum dolore quae corporis beatae temporibus est consequatur. Ullam distinctio illo laboriosam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores enim voluptatem ut vel. Modi incidunt consectetur similique veniam quaerat accusantium laudantium excepturi a, nulla, officiis eum quas rerum explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugit earum fugiat, aliquid reiciendis aspernatur rem sunt corrupti accusantium sed quisquam laborum omnis possimus, eos ratione soluta, nemo iure officiis.
          </p>
          <h3 class="font-semibold text-4xl sm:text-5xl mb-8 pt-12 scroll-mt-24" id="section4">4. How Long We Keep Information</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis beatae corrupti ullam laudantium suscipit obcaecati. Magnam, minima quasi! Cumque, officiis amet? Eius, illum molestias? Error, at. Quos, delectus eligendi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni molestias tempore eos ea ducimus cupiditate iusto iste, porro illum dolore quae corporis beatae temporibus est consequatur. Ullam distinctio illo laboriosam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores enim voluptatem ut vel. Modi incidunt consectetur similique veniam quaerat accusantium laudantium excepturi a, nulla, officiis eum quas rerum explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugit earum fugiat, aliquid reiciendis aspernatur rem sunt corrupti accusantium sed quisquam laborum omnis possimus, eos ratione soluta, nemo iure officiis.
          </p>
          <h3 class="font-semibold text-4xl sm:text-5xl mb-8 pt-12 scroll-mt-24" id="section5">5. Take Control</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis beatae corrupti ullam laudantium suscipit obcaecati. Magnam, minima quasi! Cumque, officiis amet? Eius, illum molestias? Error, at. Quos, delectus eligendi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni molestias tempore eos ea ducimus cupiditate iusto iste, porro illum dolore quae corporis beatae temporibus est consequatur. Ullam distinctio illo laboriosam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores enim voluptatem ut vel. Modi incidunt consectetur similique veniam quaerat accusantium laudantium excepturi a, nulla, officiis eum quas rerum explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugit earum fugiat, aliquid reiciendis aspernatur rem sunt corrupti accusantium sed quisquam laborum omnis possimus, eos ratione soluta, nemo iure officiis.
          </p>
          <h3 class="font-semibold text-4xl sm:text-5xl mb-8 pt-12 scroll-mt-24" id="section6">6. Your Rights and Ours</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis beatae corrupti ullam laudantium suscipit obcaecati. Magnam, minima quasi! Cumque, officiis amet? Eius, illum molestias? Error, at. Quos, delectus eligendi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni molestias tempore eos ea ducimus cupiditate iusto iste, porro illum dolore quae corporis beatae temporibus est consequatur. Ullam distinctio illo laboriosam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores enim voluptatem ut vel. Modi incidunt consectetur similique veniam quaerat accusantium laudantium excepturi a, nulla, officiis eum quas rerum explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugit earum fugiat, aliquid reiciendis aspernatur rem sunt corrupti accusantium sed quisquam laborum omnis possimus, eos ratione soluta, nemo iure officiis.
          </p>
          <h3 class="font-semibold text-4xl sm:text-5xl mb-8 pt-12 scroll-mt-24" id="section7">7. Atomic's Audience</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis beatae corrupti ullam laudantium suscipit obcaecati. Magnam, minima quasi! Cumque, officiis amet? Eius, illum molestias? Error, at. Quos, delectus eligendi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni molestias tempore eos ea ducimus cupiditate iusto iste, porro illum dolore quae corporis beatae temporibus est consequatur. Ullam distinctio illo laboriosam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores enim voluptatem ut vel. Modi incidunt consectetur similique veniam quaerat accusantium laudantium excepturi a, nulla, officiis eum quas rerum explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugit earum fugiat, aliquid reiciendis aspernatur rem sunt corrupti accusantium sed quisquam laborum omnis possimus, eos ratione soluta, nemo iure officiis.
          </p>
          <h3 class="font-semibold text-4xl sm:text-5xl mb-8 pt-12 scroll-mt-24" id="section8">8. Changes To This Privacy Policy</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis beatae corrupti ullam laudantium suscipit obcaecati. Magnam, minima quasi! Cumque, officiis amet? Eius, illum molestias? Error, at. Quos, delectus eligendi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni molestias tempore eos ea ducimus cupiditate iusto iste, porro illum dolore quae corporis beatae temporibus est consequatur. Ullam distinctio illo laboriosam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores enim voluptatem ut vel. Modi incidunt consectetur similique veniam quaerat accusantium laudantium excepturi a, nulla, officiis eum quas rerum explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugit earum fugiat, aliquid reiciendis aspernatur rem sunt corrupti accusantium sed quisquam laborum omnis possimus, eos ratione soluta, nemo iure officiis.
          </p>
          <h3 class="font-semibold text-4xl sm:text-5xl mb-8 pt-12 scroll-mt-24" id="section9">9. General</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis beatae corrupti ullam laudantium suscipit obcaecati. Magnam, minima quasi! Cumque, officiis amet? Eius, illum molestias? Error, at. Quos, delectus eligendi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni molestias tempore eos ea ducimus cupiditate iusto iste, porro illum dolore quae corporis beatae temporibus est consequatur. Ullam distinctio illo laboriosam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores enim voluptatem ut vel. Modi incidunt consectetur similique veniam quaerat accusantium laudantium excepturi a, nulla, officiis eum quas rerum explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugit earum fugiat, aliquid reiciendis aspernatur rem sunt corrupti accusantium sed quisquam laborum omnis possimus, eos ratione soluta, nemo iure officiis.
          </p>
          <h3 class="font-semibold text-4xl sm:text-5xl mb-8 pt-12 scroll-mt-24" id="section10">10. How to Contact Atomic</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis beatae corrupti ullam laudantium suscipit obcaecati. Magnam, minima quasi! Cumque, officiis amet? Eius, illum molestias? Error, at. Quos, delectus eligendi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni molestias tempore eos ea ducimus cupiditate iusto iste, porro illum dolore quae corporis beatae temporibus est consequatur. Ullam distinctio illo laboriosam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores enim voluptatem ut vel. Modi incidunt consectetur similique veniam quaerat accusantium laudantium excepturi a, nulla, officiis eum quas rerum explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugit earum fugiat, aliquid reiciendis aspernatur rem sunt corrupti accusantium sed quisquam laborum omnis possimus, eos ratione soluta, nemo iure officiis.
          </p>
        </div>
      </div>
      <div class="border my-8"></div>
    </section>
  </div>
</main>
