<div class="breadcrumb-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>Login</h4>
      </div>
      <div class="col-sm-6 hidden-xs text-right">
        <ol class="breadcrumb">
          <li>
            <%= link_to 'Home', root_path %>
          </li>
          <li>Login</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="divide80">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 col-xs-12">
      <div class="login-form">
        <%=link_to "/auth/github", class: "btn btn-lg border-theme btn-update col-md-12 col-sm-12 col-xs-12" do %>
          <i class = "fab fa-github">
            Github
          </i>
        <%end%>
        <%= link to "/auth/google_oauth2", class: "btn btn-lg border-theme btn-update col-md-12 col-sm-12 col-xs-12" do %>
          <i class="fab fa-google">
            Google
          </i>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="divide60">
</div>