<.live_component module={AtomicWeb.OrganizationLive.FormComponent} current_user={@current_user} organization={@current_organization} id={:new} title={@page_title} action={@live_action} allowed_roles={@allowed_roles} return_to={Routes.organization_index_path(@socket, :index)} />
