<.live_component module={AtomicWeb.ProductLive.FormComponent} id={:id} title={@page_title} action={@live_action} product={@product} user={@current_user} return_to={Routes.product_index_path(@socket, :index)} />
