<.live_component module={AtomicWeb.RedeemLive.FormComponent} title={@title} participation={@participation} id={:new} action={@live_action} enrollment={@enrollment} user={@user} activity={@activity} current_user={@current_user} return_to={Routes.scanner_index_path(@socket, :index)} />
