<div>
  <.form :let={f} for={@changeset} id="membership-form" phx-target={@myself} phx-submit="save">
    <%= if @action == :new do %>
      <%= label(f, :user_id) %>
      <%= select(f, :user_id, @users) %>
    <% else %>
      <h2><%= @membership.user.email %></h2>
    <% end %>
    <%= label(f, :number) %>
    <%= number_input(f, :number) %>
    <%= label(f, :role) %>
    <%= select(f, :role, @allowed_roles) %>
    <%= submit("Save", phx_disable_with: "Saving...") %>
  </.form>
</div>
