<.live_component
  module={AtomicWeb.MembershipLive.FormComponent}
  current_user={@current_user}
  id={:new}
  title={@page_title}
  action={@live_action}
  allowed_roles={@allowed_roles}
  users={@users}
  membership={@membership}
  return_to={Routes.membership_index_path(@socket, :index, @membership.organization_id)}
/>
