<div>
  <h2>Temporary Name</h2>
  <h3>Associate Number <%= @membership.number %></h3>
  <div>
    <p><b>Email:</b> <%= @membership.user.email %></p>
    <p><b>Phone Number:</b> Temporary Number</p>
    <p><b>Created At:</b> <%= @membership.inserted_at %></p>
    <p><b>Created By:</b> <%= @membership.created_by.email %></p>
    <p><b>Updated At:</b> <%= @membership.updated_at %></p>
  </div>
</div>
