<!-- Desktop Sidebar -->
<AtomicWeb.Components.Sidebar.desktop_sidebar current_user={@current_user} current_organization={@current_organization} current_page={@current_page} is_authenticated={@is_authenticated?} />
<!-- Mobile Sidebar -->
<AtomicWeb.Components.Sidebar.mobile_sidebar current_user={@current_user} current_organization={@current_organization} current_page={@current_page} is_authenticated={@is_authenticated?} />
