<%= if @current_user do %>
  <li><%= @current_user.email %></li>
  <li><%= link("Log out", to: ~p"/users/log_out", method: :delete) %></li>
<% else %>
  <li><%= link("Register", to: ~p"/users/register") %></li>
  <li><%= link("Log in", to: ~p"/users/log_in") %></li>
<% end %>
