<main>
  <%= if Phoenix.Flash.get(@flash, :info) do %>
    <div id="info-flash" x-init="setTimeout(function() { document.getElementById('info-flash').remove(); }, 5000);" class="absolute top-0 right-0 mt-2 mr-2 flex w-full justify-end">
      <div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5">
        <div class="h-[0.30rem] animate-progress bg-blue-400 opacity-100"></div>
        <div class="p-4">
          <div class="flex items-start">
            <div class="flex-shrink-0">
              <.icon name="hero-information-circle-solid" class="h-6 w-6 text-blue-400" />
            </div>
            <div class="mt-1 ml-3 w-0 flex-1 text-sm font-medium text-zinc-900">
              {Phoenix.Flash.get(@flash, :info)}
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= if Phoenix.Flash.get(@flash, :error) do %>
    <div id="error-flash" x-init="setTimeout(function() { document.getElementById('error-flash').remove(); }, 5000);" class="absolute top-0 right-0 mt-2 mr-2 flex w-full justify-end">
      <div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5">
        <div class="h-[0.30rem] animate-progress bg-red-400 opacity-100"></div>
        <div class="p-4">
          <div class="flex items-start">
            <div class="flex-shrink-0">
              <.icon name="hero-x-circle-solid" class="h-6 w-6 text-red-400" />
            </div>
            <div class="mt-1 ml-3 w-0 flex-1 text-sm font-medium text-zinc-900">
              {Phoenix.Flash.get(@flash, :error)}
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  {@inner_content}
</main>
