<!-- Notifications -->
<div aria-live="assertive" class="pointer-events-none fixed inset-0 z-50 flex flex-col items-end gap-y-2 px-4 py-4 sm:items-start sm:px-6">
  <%= for {key, message} <- @flash do %>
    <.live_component id={key} module={AtomicWeb.Components.Notification} type={key} message={message} flash={@flash} />
  <% end %>
</div>
<!-- Layout -->
<div class="relative flex min-h-screen flex-col">
  <div class="max-w-[1380px] mx-auto flex w-full flex-col lg:flex-row xl:px-8">
    <!-- Navbar -->
    <div class="relative sticky top-0 z-10 flex-shrink-0 bg-white lg:max-w-[400px] lg:flex lg:w-72">
      {render("_live_navbar.html", assigns)}
    </div>
    <!-- Central content -->
    <div class="content-height w-full overflow-auto">
      {@inner_content}
    </div>
  </div>
</div>
