<!DOCTYPE html>
<html>
<head>
    <title>Certificado <%= @activity.title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <style>
        /* Inline styles */
        .container {
            background: url('<%= AtomicWeb.Endpoint.url() <> "/images/atomic_background.svg" %>') no-repeat center;
            text-align: center;
            width: 1500px;
            height: 1045px;
            margin: auto;
            padding: 0;
        }
        .title {
            font-size: 62px;
            color: #fb923c;
            font-weight: bolder;
            padding-top: 36px;
            margin-bottom: 120px;
        }
        .content {
            font-size: 24px;
            text-align: justify;
            padding: 32px;
        }
        .name {
            font-size: 72px;
            font-weight: bold;
            text-align: center;
            text-decoration: underline;
            width: 100%;
            display: block;
            margin-top: 32px;
            margin-bottom: 32px;
        }
        .organization {
            font-size: 24px;
            text-align: justify;
        }
        .note {
            position: absolute;
            bottom: 0;
            font-size: 12px;
            text-align: center;
            padding-left: 24px;
            padding-right: 24px;
            padding-bottom: 10px;
        }
        .note a {
            color: indigo;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="title">Certificado de Participação</div>
        <p class="content">
            Para os devidos efeitos, certifica-se que
        </p>
        <span class="name"><%= @enrollment.user.name %></span>
        <p class="content">
            participou na atividade <span class="organization"><%= @activity.title %></span>, organizada pelo(a) <span class="organization"><%= @organization.name %></span>.
        </p>
        <p class="note">
            Este certificado foi gerado automaticamente pela plataforma <i>open-source</i> de gestão de núcleos <a href="https://github.com/cesium/atomic">Atomic</a>, sendo da exclusiva responsabilidade do Centro de Estudantes de Engenharia de Informática da Universidade do Minho, com a devida autorização da organização dinamizadora da atividade.
        </p>
    </div>
</body>
</html>
