<! --
.divide40
.container
  h3
    | A editar: #{@partner.name}
  span.center-line style="margin-bottom: 10px;"
  = render 'form', partner: @partner

.divide40

-- >

<div class="divide40">
</div>
<div class="container">
  <h3>
    A editar: <%= @partner.name %>
  </h3>
  <span class="center-line" style="margin-bottom: 10px;">
  </span><%= render 'form', partner: @partner %>
</div>
<div class="divide40">
</div>
