<.live_component module={AtomicWeb.NewsLive.FormComponent} id={@news.id} organization={@current_organization} title={@page_title} action={@live_action} news={@news} return_to={Routes.news_show_path(@socket, :show, @current_organization, @news)} />
