<div class="divide40">
</div>
<div class="container">
  <h3>
    A editar: <%= @article.name %>
  </h3>
  <span class="center-line" style="margin-bottom: 10px;">
  </span><%= render 'form' %>
</div>
<div class="divide40">
</div>
