<div>
  <h2><%= @title %></h2>

  <.form :let={f} for={@changeset} id="board-form" phx-target={@myself} phx-submit="save">
    <%= label(f, :user_id) %>
    <%= select(f, :user_id, @users) %>
    <%= label(f, :title) %>
    <%= text_input(f, :title) %>
    <%= label(f, :year) %>
    <%= text_input(f, :year, pattern: "\\d{4}/\\d{4}") %>
    <%= submit("Save", phx_disable_with: "Saving...") %>
  </.form>
</div>
