<.page title={@page_title}>
  <.live_component module={AtomicWeb.BoardLive.FormComponent} organization_id={@organization_id} id={:new} title={@page_title} action={@live_action} return_to={Routes.board_index_path(@socket, :index, @current_organization.id)} />
</.page>
