<h1>Show Board</h1>

<ul>
  <li>
    <strong>Name:</strong> Nome
  </li>

  <li>
    <strong>Title:</strong>
    <%= @user_organization.title %>
  </li>
  <li>
    <strong>Year:</strong>
    <%= @user_organization.year %>
  </li>
</ul>
