= form_for @job, html: {multipart: true} do |form|

  - if @job.errors.any?
    div.alert class="alert-danger"
      - error_messages(@job).each do |msg|
        li
          = msg

  = form.label :position,
    class: "form-label"
  br
  = form.text_field :position,
    class: "form-field"

  = form.label :company,
    class: "form-label"
  br
  = form.text_field :company,
    class: "form-field"

  = form.label :location,
    class: "form-label"
  br
  = form.text_field :location,
    class: "form-field"

  = form.label :description,
    class: "form-label"
  br
  = form.text_area :description,
    class: "form-field"

  = form.label :link,
    class: "form-label"
  br
  = form.text_field :link,
    class: "form-field"

  = form.label :contact,
    class: "form-label"
  br
  = form.text_field :contact,
    class: "form-field"
  br
  br

  = form.label :poster,
    class: "form-label"
  br
  = form.file_field :poster,
    class: "form-field"
  br

  .submit-field
    = form.submit class: "btn btn-lg btn-update border-theme"
    - if @job.id != nil
      = link_to 'Cancel', job_path(@job),
        data: { confirm: 'You will lose all modifications. Are you sure?' },
        class: "btn btn-lg border-theme"
      = link_to 'Destroy', :job, method: :delete,
        data: { confirm: 'Are you sure you want to delete this job offer?' },
        class: "btn btn-lg btn-delete border-theme"
