= render partial: 'jobs/jobs_breadcrumb'

- content_for :head do
  meta property='og:image' content='#{@job.poster.url}'
  meta property='og:title' content='#{@job.position}'
  meta property='og:description' content='#{truncate(to_plaintext(@job.description), length: 140)}'
.divide60
.container
  h3.post-title
    | #{@job.position}
  span.center-line style="margin-bottom: 8px;"

  .row
    .col-md-5
      = image_tag @job.poster.url, class: "img-responsive"
      br
    .col-md-7
      .divide20
      = render partial: "shared/job/panel", object: @job

  .row
    br
    .lead
      = to_markdown(@job.description)

  hr
  - if can? :edit, Job
    = link_to "Editar", edit_job_path, class: 'btn border-theme btn-lg btn-edit'

.divide20
