<.page title={gettext("Edit Announcement")}>
  <:actions>
    <.button icon={:trash} color={:white}>
      <%= gettext("Delete") %>
    </.button>
  </:actions>
  <.live_component module={AtomicWeb.AnnouncementLive.FormComponent} id={@announcement.id} organization={@current_organization} title={@page_title} action={@live_action} announcement={@announcement} return_to={Routes.announcement_show_path(@socket, :show, @announcement)} />
</.page>
