<title><%= gettext("Atomic - Announcements") %></title>
<meta name="description" content={gettext("Announcements")}>

<.page title="Announcements" bottom_border={true}>
  <:actions>
    <%= if not @empty? and @has_permissions? do %>
      <.button navigate={~p"/organizations/#{@current_organization}/announcements/new"} icon="hero-plus">
        <%= gettext("New Announcement") %>
      </.button>
    <% end %>
  </:actions>
  <!-- Announcements index -->
  <%= if @empty? and @has_permissions? do %>
    <div class="mt-32">
      <.empty_state url={~p"/organizations/#{@organization}/announcements/new"} placeholder="announcement" />
    </div>
  <% else %>
    <div class="overflow-hidden bg-white">
      <ul role="list" class="divide-y divide-zinc-200 overflow-auto">
        <%= for announcement <- @announcements do %>
          <li id={announcement.id}>
            <.announcement_card announcement={announcement} organization={@organization} />
          </li>
        <% end %>
      </ul>
      <.pagination items={@announcements} meta={@meta} params={@params} class="mt-2 flex w-full items-center justify-between" />
    </div>
  <% end %>
</.page>
