<div class="px-4 py-4 sm:px-0">
  <div class="mt-6 flex flex-col gap-2 px-4 sm:flex-row sm:items-center">
    <div>
      <div class="flex items-center justify-between">
        <h4 class="text-2xl font-bold text-zinc-800">
          <%= @announcement.title %>
        </h4>
      </div>
      <p class="mt-1 text-zinc-500">
        <%= @announcement.description %>
      </p>
    </div>
  </div>
</div>

<%= if @has_permissions? do %>
  <.link patch={~p"/organizations/#{@announcement.organization}/announcements/#{@announcement}/edit"} class="button px-2">
    <div type="button" class="inline-flex w-fit justify-center rounded-md border border-zinc-300 bg-white px-4 py-2 text-sm font-medium text-zinc-700 shadow-sm hover:bg-zinc-50" id="sort-menu-button" aria-expanded="false" aria-haspopup="true">
      <.icon name="hero-pencil-solid" class="mr-3 h-5 w-5 text-zinc-400" /> Edit
    </div>
  </.link>
<% end %>
