<div class="row">
  <div class="col-md-4">
    <%= link_to image_tag(article.poster.url, class: "img-responsive activity-poster"), article %>
  </div>
  <div class="col-md-4">
    <h3 class="activity-title">
      <%= link_to article.name, article %>
    </h3>
    <span class="center-line" style="margin-bottom: 8px;">
    </span>
    <%= render partial: "shared/articles/preview_date", locals: { article: article } %>
  </div>
</div>