.breadcrumb-wrap
  .container
    .row
      .col-sm-6
        h4 Sign Up
      .col-sm-6.hidden-xs.text-right
        ol.breadcrumb
          li
            = link_to 'Home', root_path
          li
            | Sign up
.divide80

.container
  .row
    .col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
      .login-form
        h3
          | Sign up

        = form_for @user do |form|
          = render partial: '/users/form', object: form
          .form-group
            = form.label :name
            = form.text_field :name, class: 'form-control', placeholder: 'O teu nome'
          .form-group
            = form.label :account_number
            = form.text_field :account_number, class: 'form-control', placeholder: 'Número de sócio'
          .form-group
            = form.label :student_id
            = form.text_field :student_id, class: 'form-control', placeholder: 'Número de aluno'
          .form-group
            = form.label :city
            = form.text_field :city, class: 'form-control', placeholder: 'Onde vives?'
          .form-group
            = form.label :phone_number
            = form.text_field :phone_number, class: 'form-control'
          .form-group
            = form.label :birthdate
            = form.date_select :birthdate, prefix: :birthdate

          .submit-field
            = form.submit 'Entrar' , class: 'btn btn-theme-bg'
            = link_to 'Já estou registado', sign_in_path

.divide60
