.divide60
.container
  .row
    .col-md-2.col-md-offset-5
      = image_tag @user.image, class: 'img-responsive img-circle'
  br
  .row
    .col-md-12.text-center
      h3
        | #{@user.name}
        br
        small.text-muted
          | #{@user.email}
      - if @user.member_id
        .btn.btn-success.nohover
          | Member
.divide60

