<div class="container">
  <h3>Departmentos</h3>
  <hr/>
  <br/>
  <% if @departments.empty? %>
    <p>Não existe nenhum departamento na base de dados.</p>
  <% else %>
    <% @departments.each do |department| %>
      <%= link_to department_path(department), class: "white-text" do %>
        <div class="card-panel orange darken-2">
          <%= "#{department.title}" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <br/>
  <hr/>
  <br/>
  <%= link_to "+", new_department_path,
    class: "btn-floating btn-large waves-effect waves-light" %>
</div>
