<div class="container">
  <h3>Departmentos</h3>
  <hr/>
  <br/>
  <% if @departments.empty? %>
    <p>Não existe nenhum departamento na base de dados.</p>
  <% else %>
    <% @departments.each do |department| %>
      <%= link_to department_path(department) do %>
        <div>
          <%= "#{department.title}" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <br/>
  <hr/>
  <br/>
  <%= link_to "Criar Novo Departamento", new_department_path %>
</div>
