<h2><%= @department.title %></h2>
<hr/>
<% if @department.terms.empty? %>
  <p>Nenhum membro fez parte deste departamento.</p>
<% else %>
  <p>Membros que jรก fizeram parte do departamento</p>
  <ul>
    <% @department.terms.each do |term| %>
      <li><%= term.user.name %></li>
    <% end %>
  </ul>
<% end %>
<hr/>
<%= link_to 'Voltar', departments_path %>
<%= link_to 'Apagar', department_path(@department),
  method: :delete, data: { confirm: "Tem a certeza que quer apagar este departamento?" } %>
