.col-md-2.col-sm-4.col-sm-offset-0.col-xs-8.col-xs-offset-2
  .person-v2
    = image_tag image, alt: name, class: ["img-responsive","img-circle","img-team"]
    .person-desc-v2.text-center
      h4 #{name}
      em #{position}
