- content_for :head do
  meta property='og:image' content='#{image_url("cesium-thumb.png")}'
  meta property='og:title' content='Contacto'
  meta property='og:site_name' content='CeSIUM'
  meta property='og:type' content='website'
  meta property='og:url' content='https://cesium.di.uminho.pt/contact'
  meta property='og:description' content='O CeSIUM é um Centro de estudantes de Engenharia Informática da Universidade do Minho composto por alunos voluntários que têm como objectivo principal representar e promover o curso. É um núcleo unido e dinâmico capaz de proporcionar experiências únicas e enriquecedoras para a tua futura vida profissional.'
= render partial: "shared/map"
.container
  .row
    .col-md-10.col-sm-offset-1.margin30.sky-form-columns.contact-sky-option
      .row
        .col-md-12
          .center-heading
            h2 Contactos
            span.center-line
            p
      /! center heading row
      .row.margin10
        .col-md-4.margin30
          .contact-option-circle
            i.fa.fa-home
            p
              | Departamento de Informática - Sala 1.11
              br/
              | Campus de Gualtar
              br/
              | 4710-057 Braga
        .col-md-4.margin30
          .contact-option-circle
            i.fa.fa-phone
            p.contact-center
              | +351 253 604 448
        .col-md-4.margin30
          .contact-option-circle
            i.fa.fa-envelope
            p.contact-center
              | cesium@di.uminho.pt

      .row.margin20
        .col-md-12.text-center
          ul.list-inline
            li
              = link_to 'https://www.facebook.com/cesiuminho', class: 'social-icon-lg si-border si-facebook'
                i.fab.fa-facebook-f
                i.fab.fa-facebook-f
            li
              = link_to 'https://twitter.com/cesiuminho', class: 'social-icon-lg si-border si-twitter'
                i.fab.fa-twitter
                i.fab.fa-twitter
            li
              = link_to 'https://www.instagram.com/cesiuminho', class: 'social-icon-lg si-border si-instagram'
                i.fab.fa-instagram
                i.fab.fa-instagram
            li
              = link_to 'https://github.com/orgs/cesium', class: 'social-icon-lg si-border si-github'
                i.fab.fa-github
                i.fab.fa-github

      p.margin30
        | Entra em contacto connosco!
      form#sky-form.sky-form.sky-form-columns action="mailto:cesium@di.uminho.pt" enctype="text/plain" method="post"
        fieldset
          .row
            section.col.col-6
              label.label Nome
              label.input
                i.icon-append.fa.fa-user
                input#name name="name" type="text" /
            section.col.col-6
              label.label E-mail
              label.input
                i.icon-append.fa.fa-envelope-o
                input#email name="email" type="email" /
          section
            label.label Assunto
            label.input
              i.icon-append.fa.fa-tag
              input#subject name="subject" type="text" /
          section
            label.label Mensagem
            label.textarea
              i.icon-append.fa.fa-comment
              textarea#message name="message" rows="4"
        footer
          button.btn.btn-theme-bg.btn-lg type="submit"  Enviar
        .message
          i.fa.fa-check
          p Your message was successfully sent!

.divide40
