.breadcrumb-wrap
  .container
    .row
      .col-sm-6
        h4 log/cesium
      .col-sm-6.hidden-xs.text-right
        ol.breadcrumb
          li
            = link_to 'Home', root_path
          li.active log/

.divide80
.container
  .row

    /LEFT COLUMN
    .col-md-8
      .blog-post
        a href="#"
        .item-img-wrap
          = image_tag('banner.png', class: 'img-responsive', alt: 'news')
          .item-img-overlay
            span
        /! work link
        ul.list-inline.post-detail
          li
            | by
            a href="#"  assan
          li
            i.fa.fa-calendar
            | 31st july 2014
          li
            i.fa.fa-tag
            a href="#"  Sports
          li
            i.fa.fa-comment
            a href="#"  6 Comments
        h2
          a href="#"  Lorem ipsum dollor sit amet
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie
        p
          a.btn.btn-theme-dark href="blog-single.html"  Read More...

      .blog-post
        a href="#"
        .item-img-wrap
          = image_tag('banner.png', class: 'img-responsive', alt: 'news')
          .item-img-overlay
            span
        /! work link
        ul.list-inline.post-detail
          li
            | by
            a href="#"  assan
          li
            i.fa.fa-calendar
            | 31st july 2014
          li
            i.fa.fa-tag
            a href="#"  Sports
          li
            i.fa.fa-comment
            a href="#"  6 Comments
        h2
          a href="#"  Lorem ipsum dollor sit amet
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie
        p
          a.btn.btn-theme-dark href="blog-single.html"  Read More...

      .blog-post
        a href="#"
        .item-img-wrap
          = image_tag('banner.png', class: 'img-responsive', alt: 'news')
          .item-img-overlay
            span
        /! work link
        ul.list-inline.post-detail
          li
            | by
            a href="#"  assan
          li
            i.fa.fa-calendar
            | 31st july 2014
          li
            i.fa.fa-tag
            a href="#"  Sports
          li
            i.fa.fa-comment
            a href="#"  6 Comments
        h2
          a href="#"  Lorem ipsum dollor sit amet
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie
        p
          a.btn.btn-theme-dark href="blog-single.html"  Read More...

      /PAGINATION
      ul.pager
        li.previous
          a href="#"  ← Página Anterior
        li.next
          a href="#"  Página Seguinte →

    / RIGHT COLUMN
    .col-md-3.col-md-offset-1
      .sidebar-box.margin40
        h4 Pesquisa
        form.search-widget role="form"
          input.form-control type="text" /
          i.fa.fa-search

      .sidebar-box.margin40
        h4 O log/CeSIUM
        p
          | O log/CeSIUM é uma revista blog criada pelo CeSIUM que tem como objectivo levar a toda a comunidade estudantil um pouco do espírito vivido dentro do curso. O log/CeSIUM marcará presença com edições mensais, onde dará destaque às principais notícias do mundo da informática e onde poderão encontrar artigos sobre os mais variados eventos em que os alunos do curso participam.

      .sidebar-box.margin40
        h4 logs/ Populares
        ul.list-unstyled.popular-post
          li
            .popular-img
              a href="#"
                = image_tag('banner.png', class: 'img-responsive', alt: 'news')
            .popular-desc
              h5
                a href="#"  blog post image
              h6 31st july 2014
          li
            .popular-img
              a href="#"
                = image_tag('banner.png', class: 'img-responsive', alt: 'news')
            .popular-desc
              h5
                a href="#"  blog post image
              h6 31st july 2014

      .sidebar-box.margin40.results-sidebar-box
        h4 log/ em revista
        ul.list-unstyled
          li
            a href="#"  LOG/7
          li
            a href="#"  LOG/6
          li
            a href="#"  LOG/5
        span.view-all
          a href="#"  Ver todos

      .sidebar-box.margin40
        h4 Categorias
        ul.list-unstyled.cat-list
          li
            a href="#"  Marketing
            i.fa.fa-angle-right
          li
            a href="#"  Videos
            i.fa.fa-angle-right
          li
            a href="#"  Sports
            i.fa.fa-angle-right

.divide60
section#cta-1
  .container
    h1 Já viste todas as edições do log/ que temos?
    a.btn.border-white.btn-lg href="#"  Vê aqui



