- content_for :head do
  meta property='og:image' content='#{image_url("cesium-thumb.png")}'
  meta property='og:title' content='Equipa'
  meta property='og:site_name' content='CeSIUM'
  meta property='og:type' content='website'
  meta property='og:url' content='https://cesium.di.uminho.pt/team'
  meta property='og:description' content='O CeSIUM é um Centro de estudantes de Engenharia Informática da Universidade do Minho composto por alunos voluntários que têm como objectivo principal representar e promover o curso. É um núcleo unido e dinâmico capaz de proporcionar experiências únicas e enriquecedoras para a tua futura vida profissional.'
.breadcrumb-wrap
  .container
    .row
      .col-sm-6
        h4 Equipa
      .col-sm-6.hidden-xs.text-right
        ol.breadcrumb
          li
            = link_to 'Home', root_path
          li.active Equipa


.col-md-12
  .divide80
  .container
    .row
      .col-md-12
        h2.heading ="Direção"
  - @team["Direção"].each do |department|
    - department.each do |name, members|

      .container
        .row
          .col-md-12
            h3.heading =name
            .divide20
      .container
        .row
          - members.each do |member|
            - member.each do |name, info|
              = render 'team_member', name: "#{name}", position: "#{info["position"]}",
                image: "#{info["image"]}", github: "#", twitter: "#", linkedin: "#"

  .divide80
  .container
    .row
      .col-md-12
        h2.heading ="Mesa da Assembleia Geral"
  .divide10
  .container
    .row
      - @team["Mesa da Assembleia Geral"].each do |member|
        - member.each do |name, info|
          = render 'team_member', name: "#{name}", position: "#{info["position"]}",
            image: "#{info["image"]}", github: "#", twitter: "#", linkedin: "#"

  .divide80
  .container
    .row
      .col-md-12
        h2.heading ="Conselho Fiscal"
  .divide10
  .container
    .row
      - @team["Conselho Fiscal"].each do |member|
        - member.each do |name, info|
          = render 'team_member', name: "#{name}", position: "#{info["position"]}",
            image: "#{info["image"]}", github: "#", twitter: "#", linkedin: "#"
