Hi <%= @user.email %>,

You can reset your password by visiting the URL below:

<%= @url %>

If you didn't request this change, please ignore this. This is an automated email. Please do not reply to this address.
