<.live_component module={AtomicWeb.Components.Page} id="calendar" title="Calendar">
  <.calendar current_path={Routes.calendar_show_path(@socket, :show)} activities={@activities} params={@params} mode={@mode} timezone={@timezone} />
</.live_component>
