.navbar.navbar-default.navbar-static-top.sticky role="navigation"
  .container
    .navbar-header
      button.navbar-toggle data-target=".navbar-collapse" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to image_tag('logo.png', alt: 'cesium'), root_path, class: 'navbar-brand'

    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li
          = link_to 'Sobre', about_path
        li
          = link_to 'Equipa', team_path
        / li
        /   = link_to 'NOTÍCIAS', news_path
        li
           = link_to 'ATIVIDADES', activities_path
        / li
        /   = link_to 'LOG/', log_path
        / li
        /   = link_to 'PARCERIAS'
        li
          = link_to 'PARCERIAS', partners_path
        li
          = link_to 'CONTACTOS', contact_path
        /- if current_user
        /  li
        /    = link_to 'Log Out', sign_out_path, method: :delete
        /- else
        /  li
        /    = link_to 'Log In', sign_in_path
