<div id="atomic-edit">
  <.live_component module={AtomicWeb.ActivityLive.FormComponent} id={@activity.id} title={@page_title} action={@live_action} activity={@activity} current_organization={@current_organization} return_to={Routes.activity_show_path(@socket, :show, @activity)} />
</div>
