<div id="atomic-new">
  <.live_component module={AtomicWeb.ActivityLive.FormComponent} id={:new} action={@live_action} form={@form} current_organization={@current_organization} return_to={Routes.activity_index_path(@socket, :index)} />
</div>
