<div class="flex flex-row justify-between items-center border px-4 py-2 border-l-0">
  <div class="flex flex-row gap-4 items-center">
    <.avatar size={:lg} src={@sasum_profile.photo_url} name={@sasum_profile.name} />
    <div class="flex flex-col">
      <p class="font-medium"><%= @sasum_profile.name %></p>
      <p class="text-sm"><%= @sasum_profile.email %></p>
    </div>
  </div>
  <.link patch={~p"/sasum"}>
    <.button icon="hero-arrow-left" color={:light}></.button>
  </.link>
</div>
<div class="w-full flex justify-center pt-16">
  <iframe class="w-96 h-[650px]" src={"https://www.portal.sas.uminho.pt/refeicoes.php?&act=senharefeicao&hash=#{@current_user.sasum_hash}&sb=1"}></iframe>
</div>
