<.live_component module={AtomicWeb.PartnerLive.FormComponent} current_user={@current_user} id={:new} title={@page_title} action={@live_action} partner={@partner} return_to={Routes.partner_index_path(@socket, :index, @current_organization)} />
