<div class="container">
  <h3>Direções</h3>
  <hr/>
  <br/>
    <% @boards.each do |board| %>
        <%= link_to board_path(board.id), class: "white-text"  do %>
          <div class="card-panel orange darken-2">
            <%= "Direção de #{board.start_date.year}/#{board.start_date.year + 1}" %>
          </div>
        <% end %>
    <% end %>
    <br/>
    <%= link_to "+", new_board_path,
      class: "btn-floating btn-large waves-effect waves-light" %>
</div>
