<h2>Direções</h2>
<hr/>
<ul>
  <% @boards.each do |board| %>
  <li>
    <%= link_to "Direção de #{board.start_date.year}/#{board.start_date.year + 1}",
    board_path(board.id) %>
  </li>
  <% end %>
</ul>
