<div class="container">
  <h2>CARGOS</h2>
  <hr/>
  <% if @roles.empty? %>
    <p>Sem cargos para apresentar.</p>
  <% else %>
    <ul>
      <% @roles.each do |role| %>
        <li>
        <%= "#{role.title} - [id: #{role.id}] " %>
        (<%= link_to 'Apagar', role_path(role), method: :delete, class: "red-text",
          data: { confirm: "Pretende eliminar o cargo '#{role.title}'?" } %>)
        </li>
       <% end %>
     </ul>
   <% end %>
   <hr/>
   <%= link_to "+", new_role_path,
      class: "btn-floating btn-large waves-effect waves-light" %>
 </div>
