<div class="px-4 pt-4">
  <.form :let={f} for={@changeset} id="profile-form" phx-target={@myself} phx-change="validate" phx-submit="save">
    <div class="mt-4 flex flex-col-reverse items-center border-b border-zinc-200 pb-10 sm:flex-row sm:justify-between">
      <div class="w-full space-y-4">
        <h2 class="hidden pb-4 text-xl font-bold leading-7 text-zinc-900 sm:block sm:text-4xl">
          <%= gettext("Your Profile") %>
        </h2>

        <div class="flex flex-col justify-center">
          <%= label(f, :name, class: "mb-1 text-sm font-medium text-zinc-700") %>
          <%= text_input(f, :name,
            required: true,
            placeholder: gettext("John Doe"),
            class: "relative w-full sm:w-96 appearance-none rounded border border-zinc-300 px-3 py-2 text-zinc-900 placeholder-zinc-500 focus:z-10 focus:border-primary-400 focus:ring-primary-400 focus:outline-none sm:text-sm"
          ) %>
          <div class="flex w-full flex-col text-sm text-red-600 sm:w-96"><%= error_tag(f, :name) %></div>
        </div>
        <div class="flex flex-col justify-center">
          <%= label(f, :email, class: "mb-1 text-sm font-medium text-zinc-700") %>
          <%= text_input(f, :email,
            required: true,
            placeholder: gettext("john_doe@mail.com"),
            class: "relative w-full sm:w-96 appearance-none rounded border border-zinc-300 px-3 py-2 text-zinc-900 placeholder-zinc-500 focus:z-10 focus:border-primary-400 focus:ring-primary-400 focus:outline-none sm:text-sm"
          ) %>
          <div class="flex w-full flex-col text-sm text-red-600 sm:w-96"><%= error_tag(f, :email) %></div>
        </div>
        <div class="flex flex-col justify-center">
          <%= label(f, :username, class: "mb-1 text-sm font-medium text-zinc-700") %>
          <div class="flex flex-row relative w-full sm:w-96  appearance-none rounded border border-zinc-300 px-3 text-zinc-900 placeholder-zinc-500 focus-within:z-10 focus-within:border-primary-400 focus-within:ring-primary-400 focus-within:outline-none sm:text-sm">
            <span class="self-center select-none">@</span>
            <%= text_input(f, :slug,
              required: true,
              spellcheck: false,
              placeholder: gettext("john_doe"),
              class: "w-full appearance-none border-none pl-0 text-zinc-900 placeholder-zinc-500 focus:outline-none focus:ring-transparent sm:text-sm"
            ) %>
          </div>
          <div class="flex w-full flex-col text-sm text-red-600 sm:w-96"><%= error_tag(f, :slug) %></div>
        </div>
        <div class="flex flex-col justify-center">
          <%= label(f, :phone_number, class: "mb-1 text-sm font-medium text-zinc-700") %>
          <%= text_input(f, :phone_number,
            required: true,
            placeholder: gettext("912345678"),
            class: "relative w-full sm:w-96 appearance-none rounded border border-zinc-300 px-3 py-2 text-zinc-900 placeholder-zinc-500 focus:z-10 focus:border-primary-400 focus:ring-primary-400 focus:outline-none sm:text-sm"
          ) %>
          <div class="flex w-full flex-col text-sm text-red-600 sm:w-96"><%= error_tag(f, :phone_number) %></div>
        </div>
      </div>
      <.live_file_input upload={@uploads.picture} class="hidden" />
      <a onclick={"document.getElementById('#{@uploads.picture.ref}').click()"}>
        <div class={
          "#{if length(@uploads.picture.entries) != 0 do "hidden" end} relative w-40 h-40 ring-2 ring-zinc-300 rounded-full cursor-pointer bg-zinc-400 sm:w-48 group sm:h-48 hover:bg-tertiary"}>
          <div class="absolute flex h-full w-full items-center justify-center">
            <.icon name="hero-camera" class="mx-auto h-12 w-12 text-white group-hover:text-opacity-70 sm:h-20 sm:w-20" />
          </div>
        </div>
        <section>
          <%= for entry <- @uploads.picture.entries do %>
            <%= for err <- upload_errors(@uploads.picture, entry) do %>
              <p class="alert alert-danger"><%= Phoenix.Naming.humanize(err) %></p>
            <% end %>
            <article class="upload-entry group relative flex h-40 w-40 cursor-pointer items-center rounded-full bg-white sm:h-48 sm:w-48">
              <div class="absolute z-10 flex h-full w-full items-center justify-center rounded-full">
                <.icon name="hero-camera" class="mx-auto h-12 w-12 rounded-full text-white text-opacity-0 group-hover:text-opacity-100 sm:h-20 sm:w-20" />
              </div>
              <figure class="flex h-full w-full items-center justify-center rounded-full group-hover:opacity-80">
                <.live_img_preview entry={entry} class="h-40 w-40 rounded-full border-4 border-white object-cover object-center sm:h-48 sm:w-48" />
              </figure>
            </article>
          <% end %>
        </section>
      </a>
    </div>
    <div class="mt-8 flex w-full flex-row-reverse">
      <%= submit do %>
        <div class="inline-flex px-6 py-2 text-sm font-medium text-primary-500 bg-white border-2 border-primary-500 rounded-md shadow-sm hover:bg-primary-600 hover:text-white">
          <.icon name="hero-archive-box-solid" class="mr-2 -ml-1 w-5 h-5" /> Save
        </div>
      <% end %>
    </div>
  </.form>
</div>