<div>
  <.form :let={f} for={@changeset} id="profile-form" phx-target={@myself} phx-change="validate" phx-submit="save">
    <div class="relative">
      <div class="h-64 w-full">
        <%= if IO.inspect(@user) do %>
          <.image_uploader id="banner-picture" class="h-64 w-full object-cover" image_class="h-[290px] w-full" upload={@uploads.banner} icon="hero-photo" memory_unit="MB" image={Uploaders.Banner.url({@user.banner, @user}, :original, signed: true)} />
        <% else %>
          <.gradient class="h-64 w-full bg-center object-cover" seed={@user.id} />
        <% end %>
      </div>
      <div class="relative px-4 pt-4">
        <div class="flex items-start">
          <div class="relative -mt-16 flex-shrink-0">
            <div class="relative">
              <.image_uploader id="profile-picture" class="aspect-square w-36 border-4 border-white" rounded upload={@uploads.profile_picture} icon="hero-user" memory_unit="GB" image={Uploaders.ProfilePicture.url({@user.profile_picture, @user}, :original, signed: true)}>
                <:placeholder>
                  <.avatar size={:xl} name={@user.name} type={:user} />
                </:placeholder>
              </.image_uploader>
            </div>
          </div>
          <div class="flex-1 pl-6">
            <h2 class="text-xl font-bold leading-7 text-zinc-900 sm:text-4xl">
              {@user.name}
            </h2>

            <div class="mt-2">
              <%= if length(@organizations) > 0 do %>
                <div class="mt-2">
                  <%= for organization <- @organizations do %>
                    <p class="text-lg font-semibold text-zinc-600 md:text-md lg:text-sm">
                      {organization.name} - {Atomic.Organizations.get_role(@user.id, organization.id)}
                    </p>
                  <% end %>
                </div>
              <% else %>
                <p class="py-2">No organizations found.</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="ml-4 flex flex-col gap-6">
        <div class="grid grid-cols-1 gap-2">
          <.field field={f[:name]} type="text" placeholder="Name" class="w-full" />
          <.field field={f[:phone_number]} type="text" placeholder="Phone Number" class="w-full" />
          <.field field={f[:email]} type="email" placeholder="Email" class="w-full" />
          <.field field={f[:slug]} type="text" placeholder="User Name" class="w-full" />
        </div>
        <div class="grid w-full gap-x-4 gap-y-4 sm:grid-cols-1 md:grid-cols-4">
          <.inputs_for :let={socials_form} field={f[:socials]}>
            <.field field={socials_form[:instagram]} type="text" placeholder="Instagram" class="w-full" />
            <.field field={socials_form[:facebook]} type="text" placeholder="Facebook" class="w-full" />
            <.field field={socials_form[:x]} type="text" placeholder="X" class="w-full" />
            <.field field={socials_form[:tiktok]} type="text" placeholder="TikTok" class="w-full" />
          </.inputs_for>
        </div>
      </div>
    </div>
    <div class="mt-8 flex w-full justify-end">
      <.button size={:md} color={:white} icon="hero-cube">Save</.button>
    </div>
  </.form>
</div>
