<div class="px-4 pt-4">
  <.form :let={f} for={@changeset} id="profile-form" phx-target={@myself} phx-change="validate" phx-submit="save">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      <div class="flex flex-col items-center pr-4">
        <%= label(f, :name, "Profile Picture", class: "mt-3 mb-1 text-sm font-medium text-gray-700") %>
        <% IO.inspect(@user) %>
        <.image_uploader id="profile-picture" class="w-32 aspect-square" upload={@uploads.profile_picture} icon="hero-user" memory_unit="GB" image={Uploaders.ProfilePicture.url({@user.profile_picture, @user}, :original, signed: true)}>
          <:placeholder>
            <.avatar size={:xl} name={@user.name} type={:user} />
          </:placeholder>
        </.image_uploader>
        <%= label(f, :name, "Banner Picture", class: "mt-3 mb-1 text-sm font-medium text-gray-700") %>
        <.image_uploader id="banner-picture" class="w-32 aspect-square" upload={@uploads.banner} icon="hero-photo" memory_unit="MB" image={Uploaders.Banner.url({@user.banner, @user}, :original, signed: true)} />
      </div>
      <div class="flex flex-col gap-6">
        <div class="grid grid-cols-1 gap-2">
          <.field field={f[:name]} type="text" placeholder="Name" class="w-full" />
          <.field field={f[:phone_number]} type="text" placeholder="Phone Number" class="w-full" />
          <.field field={f[:email]} type="email" placeholder="Email" class="w-full" />
          <.field field={f[:slug]} type="text" placeholder="User Name" class="w-full" />
        </div>
        <div class="grid w-full gap-x-4 gap-y-4 sm:grid-cols-1 md:grid-cols-4">
          <.inputs_for :let={socials_form} field={f[:socials]}>
            <.field field={socials_form[:instagram]} type="text" placeholder="Instagram" class="w-full" />
            <.field field={socials_form[:facebook]} type="text" placeholder="Facebook" class="w-full" />
            <.field field={socials_form[:x]} type="text" placeholder="X" class="w-full" />
            <.field field={socials_form[:tiktok]} type="text" placeholder="TikTok" class="w-full" />
          </.inputs_for>
        </div>
      </div>
    </div>
    <div class="mt-8 flex w-full justify-end">
      <.button size={:md} color={:white} icon="hero-cube">Save</.button>
    </div>
  </.form>
</div>
