<div>
  <div>
    
<!-- Banner -->
    <div class="h-64 w-full">
      <%= if @user.banner do %>
        <.image_uploader editable={false} id="banner-picture" class="h-64 w-full" image_class="h-[290px] w-full object-cover" upload={@uploads.banner} icon="hero-photo" memory_unit="MB" image={Uploaders.Banner.url({@user.banner, @user}, :original, signed: true)} />
      <% else %>
        <.gradient class="h-64 w-full bg-center object-cover" seed={@user.id} />
      <% end %>
    </div>
    
<!-- Avatar -->
    <div class="-mt-16 flex px-8 md:-mt-14">
      <div class="flex-shrink-0">
        <div>
          <%= if @user.profile_picture do %>
            <.image_uploader editable={false} id="profile-picture" class="aspect-square w-36 border-4 border-white" rounded upload={@uploads.profile_picture} icon="hero-user" memory_unit="GB" image={Uploaders.ProfilePicture.url({@user.profile_picture, @user}, :original, signed: true)}>
              <:placeholder>
                <.avatar size={:xxl} name={@user.name} type={:user} />
              </:placeholder>
            </.image_uploader>
          <% else %>
            <.avatar size={:xxl} name={@user.name} type={:user} />
          <% end %>
        </div>
      </div>
    </div>
    
<!-- User Info -->
    <div class="flex w-full flex-col items-start justify-between px-8 py-4 md:flex-row">
      <div class="flex flex-1 flex-col items-start gap-2 overflow-hidden">
        
<!-- Name-->
        <h2 class="max-w-full truncate text-3xl font-bold leading-7 text-zinc-800 md:text-4xl">
          {@user.name}
        </h2>
        
<!-- Role -->
        <div class="w-full overflow-hidden">
          <%= if length(@organizations) > 0 do %>
            <div>
              <%= for organization <- @organizations do %>
                <p class="truncate text-lg font-semibold text-zinc-600 lg:text-sm">
                  {organization.name} - {Atomic.Organizations.get_role(@user.id, organization.id)}
                </p>
              <% end %>
            </div>
          <% else %>
            <p class="text-zinc-600">{gettext("No organizations found.")}</p>
          <% end %>
        </div>
        
<!-- Socials -->
        <%= if @user.socials do %>
          <div class="mt-1 flex">
            <.socials entity={@user} />
          </div>
        <% end %>
      </div>
      
<!-- Edit Profile -->
      <div class="mt-5 w-full flex-shrink-0 md:mt-0 md:w-fit">
        <%= if @is_current_user do %>
          <.button patch={~p"/profile/#{@user}/edit"} icon="hero-pencil-square" size={:md} full_width={true}>
            {gettext("Edit Profile")}
          </.button>
        <% end %>
      </div>
    </div>
  </div>
  
<!-- body -->

  <div class="pt-8">
    <div class="flex flex-col-reverse border-b border-zinc-200 xl:flex-row">
      <div class="flex w-full items-center justify-between">
        <.tabs class="px-4 sm:px-6 lg:px-8">
          <.link patch="?tab=following" replace={false}>
            <.tab active={@current_tab == "following"}>
              {gettext("Following")}
            </.tab>
          </.link>
          <.link patch="?tab=activity" replace={false}>
            <.tab active={@current_tab == "activity"}>
              {gettext("Activity")}
            </.tab>
          </.link>
          <.link patch="?tab=about" replace={false}>
            <.tab active={@current_tab == "about"}>
              {gettext("About")}
            </.tab>
          </.link>
        </.tabs>
      </div>
    </div>
  </div>

  <%= case @current_tab do %>
    <% "following" -> %>
      <section class="overflow-hidden px-8 py-6">
        <div class="mx-auto max-w-5xl">
          <p class="text-xl font-bold text-zinc-600">{gettext("Following Organizations:")}</p>

          <div class="relative w-full">
            <div class="hide-scrollbar min-h-24 flex flex-row gap-3 overflow-x-auto pt-4 pb-3">
              <%= if Enum.any?(@memberships) do %>
                <%= for membership <- @memberships do %>
                  <% org = membership.organization %>

                  <% is_viewer_following =
                    if @current_user do
                      Organizations.get_role(@current_user.id, org.id) == :follower
                    else
                      false
                    end %>

                  <div class="flex h-24 w-fit items-center rounded-lg border-2 border-zinc-200 px-4">
                    <.live_component id={org.id} module={Suggestion} organization={org} current_user={@current_user} is_following={is_viewer_following} />
                  </div>
                <% end %>
                
<!-- Browse more organizations card -->
                <div class="min-w-64 flex flex-shrink-0 flex-col items-center gap-2 rounded-lg border-2 border-dashed border-zinc-200 p-4">
                  <div>
                    <p class="text-zinc-500">{gettext("Browse more organizations")}</p>
                  </div>
                  <.button patch={~p"/organizations"} color={:white} size={:xs}>
                    {gettext("Browse Organizations")}
                  </.button>
                </div>

                <div class="pointer-events-none absolute top-0 -right-0 bottom-0 w-16 bg-gradient-to-l from-white to-transparent"></div>
              <% else %>
                <p class="font-light text-zinc-500">No memberships found...</p>
              <% end %>
            </div>
          </div>
        </div>
      </section>
    <% "activity" -> %>
      <section class="px-8 py-6">
        activity
      </section>
    <% "about" -> %>
      <section class="px-8 py-6">
        about
      </section>
  <% end %>
</div>
