p.lead.activity-description
  = to_plaintext(activity.speaker)

p.lead.activity-description
  = truncate(to_plaintext(activity.description), length: 140)

ul.list-inline
  - if activity.start_date.to_date == activity.end_date.to_date
    li
      i.far.fa-calendar
    = l activity.start_date.to_date
    li
      i.fa.fa-fw.fa-clock-o
      | #{l activity.start_date.time} - #{l activity.end_date.time}
  - else
    li
      i.far.fa-calendar
    = l activity.start_date.to_date
    li
      i.far.fa-calendar
    = l activity.end_date.to_date
