<div class="activity-info">
  <% if text.start_with?("https://")%>
    <a class="lead" href=text target='_blank'>
    </a> 
    <i class="fa fa-fw fa-2x fa-<%= icon %>">
    </i>
    <div class="link">
      <%= text %>
    </div>
  <%else%>
<p class="lead">
  <i class="fa fa-fw fa-2x fa-<%= icon %>">
  </i>
  <%= text %>
</p>
<% end %>
</div>
