<.live_component module={AtomicWeb.DepartmentLive.FormComponent} id={@department.id} organization={@current_organization} title={@page_title} action={@live_action} department={@department} return_to={Routes.department_show_path(@socket, :show, @organization_id, @department)} />
