<.live_component module={AtomicWeb.DepartmentLive.FormComponent} id={:new} organization={@current_organization} title={@page_title} action={@live_action} department={@department} return_to={Routes.department_index_path(@socket, :index, @current_organization)} />
