<main class="px-4">
    <!-- Header -->
    <header class="w-full fixed flex bg-white justify-between px-8 pt-8 pb-4">
        <div class="flex place-items-center gap-x-4 lg:pl-12">
            <!-- Atomic Logo -->
            <.link navigate={~p"/"}>
                <img src={~p"/images/atomic.svg"} class="h-14 w-auto" />
            </.link>
            <!-- Section Name -->
            <p class="text-2xl font-semibold text-zinc-400 select-none">Terms of Service</p>
        </div>
        <!-- Link to Home (hidden on mobile) -->
        <div class="flex place-items-center hidden sm:block lg:pr-12">
            <.link class="atomic-button atomic-button--white atomic-button--md" navigate={~p"/"}>Back home</.link>
        </div>
    </header>

    <!-- Main title -->
    <section class="flex place-items-center align-center h-fit px-4 xl:px-12 py-40 pt-138">
        <span class="text-7xl sm:text-9xl text-zinc-800 font-semibold w-86 lg:w-8/12 2xl:w-2/5">Terms of Service</span>
    </section>

    <!-- Black container -->
    <section class="flex justify-center bg-zinc-800 text-white font-semibold p-10">
        <p class="w-full flex justify-center md:w-2/3">
            Lorem ipsum dolor sit amet.
        </p>
    </section>

    <!-- Summary Section -->
    <section class="px-4 sm:px-8 md:px-36 2xl:px-96 pt-16">
        <h2 class="text-2xl sm:text-4xl font-semibold mb-8">Summary of our Terms</h2>
        <p class="text-md sm:text-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nesciunt fuga sint inventore laudantium, et quas cum at ad blanditiis magnam suscipit assumenda enim nemo quod qui animi provident eum!</p>
        <!-- Used br tag but it can be replaced for a margin or padding on each element. Just seems more practical. -->
        <br>
        <ul class="list-disc mx-6 mb-8">
            <li class="mb-4 text-md sm:text-lg text-zinc-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est odio explicabo expedita accusamus vero ullam deleniti laboriosam. Blanditiis minima inventore ut dolorum suscipit omnis dolore laudantium quo, mollitia, placeat accusantium.</li>
            <li class="mb-4 text-md sm:text-lg text-zinc-900">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus veritatis provident laboriosam perferendis ducimus laborum molestiae fuga non aliquid! Dicta veniam fugiat harum? Nemo sunt voluptate dolorem placeat voluptates suscipit?</li>
            <li class="mb-4 text-md sm:text-lg text-zinc-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, sapiente laboriosam quaerat animi sed distinctio dignissimos! Aut iste officia, libero, aspernatur illo nostrum sed autem id, dolorum molestias quae. Cum?</li>
        </ul>
        <p class="text-md sm:text-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nesciunt fuga sint inventore laudantium, et quas cum at ad blanditiis magnam suscipit assumenda enim nemo quod qui animi provident eum!</p>
    </section>
    
    <!-- Some Text Section -->
    <section class="px-4 sm:px-8 md:px-36 2xl:px-96">
        <div class="border my-8"></div>
        <p class="text-md sm:text-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nesciunt fuga sint inventore laudantium, et quas cum at ad blanditiis magnam suscipit assumenda enim nemo quod qui animi provident eum!</p>
        <br>
        <p class="text-md sm:text-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nesciunt fuga sint inventore laudantium, et quas cum at ad blanditiis magnam suscipit assumenda enim nemo quod qui animi provident eum!</p>
        <div class="border my-8"></div>
    </section>

    <!-- Atomic Terms of Service Section -->
    <section class="px-4 sm:px-8 md:px-36 2xl:px-96">
        <h2 class="font-semibold text-4xl sm:text-6xl mb-8">Atomic Terms of Service</h2>  
        <p class="text-md sm:text-2xl font-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptatibus, ea, voluptates jonas.</p>
        <br>
        <p class="text-md sm:text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quo at repellendus quia pariatur possimus labore laboriosam voluptas totam assumenda. Harum optio suscipit quas fuga laboriosam. Alias, eos! Praesentium, quibusdam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis blanditiis soluta corporis ea nihil pariatur omnis, corrupti fugit reprehenderit inventore mollitia explicabo neque ex non accusamus rerum earum enim illo!</p>
        <br>
        <p class="text-md sm:text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur qui exercitationem eaque, quibusdam sint sapiente excepturi repudiandae expedita, ipsa tempore dignissimos provident ipsum minus ullam rerum commodi quas? Odit, voluptatibus.</p>
        <div class="border my-8"></div>
    </section>

    <!-- Terms of Service Content Section -->
    <section class="flex flex-col px-4 sm:px-8 md:px-36 2xl:px-96 pt-16">
        <div class="flex">
            <!-- Sticky part -->
            <div class="hidden xl:block xl:w-1/4 pr-20">
                <ul class="sticky top-40">
                    <li> <a href="#section1" class="text-sm font-semibold pb-2">1. Who May Use the Services</a></li>
                    <li> <a href="#section2" class="text-sm font-semibold pb-2">2. Privacy</a></li>
                    <li> <a href="#section3" class="text-sm font-semibold pb-2">3. Content of the Services</a></li>
                    <li> <a href="#section4" class="text-sm font-semibold pb-2">4. Using the Services</a></li>
                    <li> <a href="#section5" class="text-sm font-semibold pb-2">5. Disclaimers and Limitations of Liability</a></li>
                    <li> <a href="#section6" class="text-sm font-semibold pb-2">6. General</a></li>
                </ul>
            </div>  
            <!-- Content -->
            <div class="xl:w-3/4">
                <h3 class="font-semibold text-4xl sm:text-5xl mb-8 scroll-mt-24" id="section1">1. Who May Use the Services</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis beatae corrupti ullam laudantium suscipit obcaecati. Magnam, minima quasi! Cumque, officiis amet? Eius, illum molestias? Error, at. Quos, delectus eligendi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni molestias tempore eos ea ducimus cupiditate iusto iste, porro illum dolore quae corporis beatae temporibus est consequatur. Ullam distinctio illo laboriosam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores enim voluptatem ut vel. Modi incidunt consectetur similique veniam quaerat accusantium laudantium excepturi a, nulla, officiis eum quas rerum explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugit earum fugiat, aliquid reiciendis aspernatur rem sunt corrupti accusantium sed quisquam laborum omnis possimus, eos ratione soluta, nemo iure officiis.</p>
                <h3 class="font-semibold text-4xl sm:text-5xl mb-8 pt-12 scroll-mt-24" id="section2">2. Privacy</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis beatae corrupti ullam laudantium suscipit obcaecati. Magnam, minima quasi! Cumque, officiis amet? Eius, illum molestias? Error, at. Quos, delectus eligendi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni molestias tempore eos ea ducimus cupiditate iusto iste, porro illum dolore quae corporis beatae temporibus est consequatur. Ullam distinctio illo laboriosam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores enim voluptatem ut vel. Modi incidunt consectetur similique veniam quaerat accusantium laudantium excepturi a, nulla, officiis eum quas rerum explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugit earum fugiat, aliquid reiciendis aspernatur rem sunt corrupti accusantium sed quisquam laborum omnis possimus, eos ratione soluta, nemo iure officiis.</p>
                <h3 class="font-semibold text-4xl sm:text-5xl mb-8 pt-12 scroll-mt-24" id="section3">3. Content on the Services</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis beatae corrupti ullam laudantium suscipit obcaecati. Magnam, minima quasi! Cumque, officiis amet? Eius, illum molestias? Error, at. Quos, delectus eligendi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni molestias tempore eos ea ducimus cupiditate iusto iste, porro illum dolore quae corporis beatae temporibus est consequatur. Ullam distinctio illo laboriosam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores enim voluptatem ut vel. Modi incidunt consectetur similique veniam quaerat accusantium laudantium excepturi a, nulla, officiis eum quas rerum explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugit earum fugiat, aliquid reiciendis aspernatur rem sunt corrupti accusantium sed quisquam laborum omnis possimus, eos ratione soluta, nemo iure officiis.</p>
                <h3 class="font-semibold text-4xl sm:text-5xl mb-8 pt-12 scroll-mt-24" id="section4">4. Using the Services</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis beatae corrupti ullam laudantium suscipit obcaecati. Magnam, minima quasi! Cumque, officiis amet? Eius, illum molestias? Error, at. Quos, delectus eligendi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni molestias tempore eos ea ducimus cupiditate iusto iste, porro illum dolore quae corporis beatae temporibus est consequatur. Ullam distinctio illo laboriosam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores enim voluptatem ut vel. Modi incidunt consectetur similique veniam quaerat accusantium laudantium excepturi a, nulla, officiis eum quas rerum explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugit earum fugiat, aliquid reiciendis aspernatur rem sunt corrupti accusantium sed quisquam laborum omnis possimus, eos ratione soluta, nemo iure officiis.</p>
                <h3 class="font-semibold text-4xl sm:text-5xl mb-8 pt-12 scroll-mt-24" id="section5">5. Disclaimers and Limitarions of Liability</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis beatae corrupti ullam laudantium suscipit obcaecati. Magnam, minima quasi! Cumque, officiis amet? Eius, illum molestias? Error, at. Quos, delectus eligendi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni molestias tempore eos ea ducimus cupiditate iusto iste, porro illum dolore quae corporis beatae temporibus est consequatur. Ullam distinctio illo laboriosam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores enim voluptatem ut vel. Modi incidunt consectetur similique veniam quaerat accusantium laudantium excepturi a, nulla, officiis eum quas rerum explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugit earum fugiat, aliquid reiciendis aspernatur rem sunt corrupti accusantium sed quisquam laborum omnis possimus, eos ratione soluta, nemo iure officiis.</p>
                <h3 class="font-semibold text-4xl sm:text-5xl mb-8 pt-12 scroll-mt-24" id="section6">6. General</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis beatae corrupti ullam laudantium suscipit obcaecati. Magnam, minima quasi! Cumque, officiis amet? Eius, illum molestias? Error, at. Quos, delectus eligendi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni molestias tempore eos ea ducimus cupiditate iusto iste, porro illum dolore quae corporis beatae temporibus est consequatur. Ullam distinctio illo laboriosam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad maiores enim voluptatem ut vel. Modi incidunt consectetur similique veniam quaerat accusantium laudantium excepturi a, nulla, officiis eum quas rerum explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugit earum fugiat, aliquid reiciendis aspernatur rem sunt corrupti accusantium sed quisquam laborum omnis possimus, eos ratione soluta, nemo iure officiis.</p>
            </div>    
        </div>
        <div class="border my-8"></div>
    </section>

</main>  
