.navbar-post {
  margin-top: 2em;
  font-weight: bold;
}

.navbar-post > li {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 0px 2px;
}

.post-title {
  margin-bottom: 0px;
}

.post-poster {
  @media only screen and (max-width: 786px) {
    margin-bottom: 10px;
  }
}

.post-info {
  .lead {
    display: flex;
    align-items: center;
  }
  i {
    color: $color-skin;
  }
}

.post-description {
  margin-bottom: 5px;
  width: auto;
}

.post-center {
  text-align: center;
}

.max {
  width: max-content;
}

.same-line {
  display: flex
}

.left-padding {
  padding-left: 50px;
}

.small-right-padding {
  padding-right: 25px;
}

.margin-bottom {
  margin-bottom: 20px
}

.padding-bottom {
  padding-bottom: 40px
}

input[type="text"].form-field {
  font-size: 1em;
  color: black;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $color-light-gray;
  margin-bottom: 10px;
}

input[type="submit"].btn {
  background-color: $color-white;

  &:hover {
    background-color: $color-skin;
    color: $color-white;
    transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
  }
}

textarea.form-field {
  font-size: 1em;
  color: black;
  width: 100%;
  height: 80px;
  border: 0;
  border-bottom: 1px solid $color-light-gray;
  margin-bottom: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1em;
  color: black;
  border: 0;
  border-bottom: 1px solid $color-light-gray;
  margin-bottom: 10px;
}

a {
  &:hover {
    color: black;
  }
}

.pagination {
  .disabled > span {
    background-color: $color-light-gray;
    color: $color-white;

    &:hover {
      background-color: $color-light-gray;
      color: $color-skin;
      transition: all 200ms ease-in;
    }
  }

  li {
    a, span {
      margin-right: 5px;

      &:hover {
        color: $color-skin;
        transition: all 200ms ease-in;
      }
    }
  }
}

.btn-delete {
  float: right;
}

.btn-edit {
  float: right
}

.btn-update {
  margin-right: 10px;
}

.btn.nohover:hover {
  cursor: default;
}
