//some variables for ASSAN theme, you can create your own easily.
$color-white: #fff;
$color-skin: #f6633d;               // Theme default color code
$color-light: #aeaeae;              // white color and background
$color-light-gray: #f1f1f1;
$color-medium-blue: #222533;
$color-gray: #777;                  // gray color for p tags
$color-dark: #1A1C28;               // dark color
$color-feature: #EB7955;            // feature color
$base-line-height: 24px;
$primary-font: 'Lato', sans-serif;  // default font family
$minimum-font-size: 13px;
$soft-red: #ED4337;                 // footer's heart
