// SASS GEMS
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "animate";
@import "owl.carousel";
@import "owl.theme";

/// CSS PLUGINS IN VENDOR/ASSETS
@import "landing_page/flexslider/flexslider";
@import "landing_page/rs-plugin/settings";
@import "landing_page/cubeportfolio/cubeportfolio";
@import "landing_page/sky-forms/sky-forms";

// CUSTOM SASS
@import "landing_page/style";
@import "landing_page/rev-style";
@import "activities";

.img-event {
  height: 100%;
}

.label {
  margin-right: 3px;
}

.post-header{
    margin-bottom: 20px;
    .tag{
        display: block;
        margin-bottom: 10px;
        a{
            text-transform: uppercase;
            display: inline-block;
            padding-bottom: 1px;
            border-bottom: 1px solid $color-light-gray;
            font-size: 12px;
        }
    }
    .post-title{
        font-size:30px;
        a{
            color: $color-gray;
            &:hover{
                color: $color-light-gray;
            }
        }
    }
    .date{
        color: $color-gray;
        font-size: 12px;
        display: block;
        font-weight: 400;
        font-style: italic;
    }
}

.grid-post{
  .post-header{
    margin-bottom:10px;
    .post-title{
      font-size: 22px;
    }
  }
}

.contact-center {
    vertical-align: middle;
    padding: 24px;
}

.quote {
  font-size: 1.5em;
  font-style: italic;
}

.about-header {
  color: $color-skin;
}
