<div class="fixed z-0 top-0 left-0 bg-black w-screen h-screen">
</div>
<div class=" overflow-x-hidden overflow-y-hidden sm:rotate-0 z-50 rotate-90 scale-150 sm:scale-100 fixed top-0 left-0 w-screen h-screen bg-contain bg-center bg-no-repeat" style={"background-image: url(" <> Uploaders.Card.url({@membership.organization.card, @membership.organization}, :original) <> ")"}>
  <p class="absolute top-1/2 left-1/2 text-[2vw] -translate-y-[40%] -translate-x-[69%]">OLA</p>
</div>
