<.live_component module={AtomicWeb.UserLive.FormComponent} user={@user} id={@current_user.id} majors={@majors} title={@page_title} action={@live_action} return_to={Routes.activity_index_path(@socket, :index)} />
