<div>
  <h2><%= @title %></h2>

  <.form :let={f} for={@changeset} id="user-form" phx-change="validate" phx-target={@myself} phx-submit="save">
    <%= label(f, :name) %>
    <%= text_input(f, :name) %>
    <%= label(f, :course_id) %>
    <%= select(f, :course_id, @courses) %>
    <%= label(f, :profile_picture) %>
    <%= live_file_input(@uploads.profile_picture) %>
    <%= submit("Save", phx_disable_with: "Saving...") %>
  </.form>
</div>
