= form_for @activity, html: {multipart: true} do |form|

  - if @activity.errors.any?
    div.alert class="alert-danger"
      - error_messages(@activity).each do |msg|
        li
          = msg

  = form.label :name,
    class: "activity-form-label"
  br
  = form.text_field :name,
    class: "activity-form-field"

  = form.label :location,
    class: "activity-form-label"
  br
  = form.text_field :location,
    class: "activity-form-field"

  = form.label :description,
    class: "activity-form-label"
  br
  = form.text_area :description,
    class: "activity-form-field"

  = form.label :total_rating,
    class: "activity-form-label"
  br
  = form.text_field :total_rating,
    class: "activity-form-field"

  = form.label :member_cost,
    class: "activity-form-label"
  br
  = form.number_field :member_cost,
    value: 0,
    class: "activity-form-field"

  = form.label :guest_cost,
    class: "activity-form-label"
  br
  = form.number_field :guest_cost,
    value: 0,
    class: "activity-form-field"

  = form.label :start_date,
    class: "activity-form-label"
  br
  = form.datetime_select :start_date
  br

  = form.label :end_date,
    class: "activity-form-label"
  br
  = form.datetime_select :end_date
  br

  = form.label :coffee_break,
    class: "activity-form-label"
  br
  = form.select :coffee_break,
    options_for_select([['No', false], ['Yes', true]])
  br

  = form.label :activity,
    class: "activity-form-label"
  br
  = form.select :activity_id,
    options_for_select(Activity.all.map{|a|[a.name, a.id]}),
    {include_blank: 'None'}
  br

  = form.label :department,
    class: "activity-form-label"
  br
  = form.select :department_id,
    options_for_select(Department.all.map{|d|[d.title, d.id]}),
    {include_blank: 'None'}
  br

  = form.label :poster,
    class: "activity-form-label"
  br
  = form.file_field :poster,
    class: "activity-form-field"
  br

  .submit-field
    = form.submit class: "btn btn-lg btn-update border-theme"
    - if @activity.id != nil
      = link_to 'Cancel', activity_path(@activity),
        data: { confirm: 'You will lose all modifications. Are you sure?' },
        class: "btn btn-lg border-theme"
      = link_to 'Destroy', :activity, method: :delete,
        data: { confirm: 'Are you sure you want to delete this activity?' },
        class: "btn btn-lg btn-delete border-theme"
