= render partial: 'activities/activities_breadcrumb'
.divide60
.container
  h3.activity-title
    | #{@activity.name}
  span.center-line style="margin-bottom: 8px;"

  .row
    .col-md-5
      = image_tag @activity.poster.url, class: "img-responsive"
      br
    .col-md-7
      = simple_format(@activity.description, class: "lead")
      = render partial: "shared/activity/panel", object: @activity
      = render partial: "registration", object: @activity

  hr
  - if can? :index, Registration
    = link_to "Participantes", activity_participants_path(@activity.id),
      class: 'btn border-theme btn-lg'
  - if can? :edit, Activity
    = link_to "Editar", edit_activity_path, class: 'btn border-theme btn-lg btn-edit'

.divide20
