<.live_component module={AtomicWeb.Backoffice.ProductLive.FormComponent} id={@product.id} action={@live_action} product={@product} title={@page_title} return_to={Routes.product_index_path(@socket, :index)} />
