<.live_component module={AtomicWeb.Backoffice.ProductLive.FormComponent} id={:id} title={@page_title} action={@live_action} product={@product} return_to={Routes.product_index_path(@socket, :index)} />
