<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <%= live_title_tag(assigns[:page_title] || "Atomic", suffix: " · 404") %>
    <link rel="apple-touch-icon" sizes="180x180" href={Routes.static_path(@conn, "/favicon/apple-touch-icon.png")} />
    <link rel="icon" type="image/png" sizes="32x32" href={Routes.static_path(@conn, "/favicon/favicon-32x32.png")} />
    <link rel="icon" type="image/png" sizes="16x16" href={Routes.static_path(@conn, "/favicon/favicon-16x16.png")} />
    <link rel="manifest" href={Routes.static_path(@conn, "/favicon/site.webmanifest")} />
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
  </head>
  <div class="flex flex-col items-center w-screen h-screen justify-center bg-white bg-hero-pattern bg-cover lg:bg-[length:2000px_1400px] bg-no-repeat  bg-opacity-25 bg-center">
    <div class="flex flex-col items-center">
      <div class="flex flex-row gap-4 items-center">
        <span class="text-5xl font-bold text-gray-900">ERROR</span>
        <span class="text-6xl font-bold text-gray-900 pb-2">404</span>
      </div>
      <h2 class="text-lg font-semibold text-gray-900">Page not found</h2>
      <.link href="/" class="inline-flex items-center rounded-md bg-orange-500 px-3 py-2 my-4 text-sm font-semibold text-white shadow-sm hover:bg-orange-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-500">
        <%= gettext("Go back home") %>
      </.link>
    </div>
  </div>
</html>
