<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <%= live_title_tag(assigns[:page_title] || "500", suffix: " · Atomic") %>
    <link rel="apple-touch-icon" sizes="180x180" href={Routes.static_path(@conn, "/favicon/apple-touch-icon.png")} />
    <link rel="icon" type="image/png" sizes="32x32" href={Routes.static_path(@conn, "/favicon/favicon-32x32.png")} />
    <link rel="icon" type="image/png" sizes="16x16" href={Routes.static_path(@conn, "/favicon/favicon-16x16.png")} />
    <link rel="manifest" href={Routes.static_path(@conn, "/favicon/site.webmanifest")} />
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
  </head>
  <body class="flex flex-row justify-center items-center overflow-x-hidden bg-white bg-hero-pattern bg-cover lg:bg-75 bg-no-repeat bg-center h-full w-full">
    <main class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
      <div class="text-center">
        <p class="text-base font-semibold text-orange-500">500</p>
        <h1 class="mt-4 text-3xl font-bold tracking-tight text-zinc-900 sm:text-5xl">Internal Server Error</h1>
        <p class="mt-6 text-base leading-7 text-zinc-600">Oops! It appears that something went wrong on our end.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="/" class="rounded-md bg-orange-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-500">Go back home</a>
        </div>
      </div>
    </main>
  </body>
</html>
